<div class="media">
  <div class="media-body">
  <% if current_user == @listing.user %>
     <%= button_to('Confirm', root_path, :method => :get, :class => 'btn btn-large btn-primary') %>
  <% end %>
      <h4 class="media-heading">
      <%= link_to bid.user.username, profile_user_path(bid.user) %>
    </h4>
      <p><%= bid.price %></p>
      <p><%= image_tag bid.image.url(:med) %></p>
      <p><%= bid.description %></p>
  </div>
</div>